[submodule "spice"]
	path = spice
	url = git://anongit.freedesktop.org/spice/spice
[submodule "qemu"]
	path = qemu
	url = git@git.oschina.net:grizzlybears/qemu.git
[submodule "spice-protocol"]
	path = spice-protocol
    url = git://anongit.freedesktop.org/spice/spice-protocol

