[submodule "spice"]
	path = spice
	url = ../spice.git
[submodule "qemu"]
	path = qemu
	url = ../qemu.git
[submodule "spice-protocol"]
	path = spice-protocol
    url = ../spice-protocol.git

[submodule "libusbx"]
	path = libusbx
	url = ../libusbx.git
[submodule "usbredir"]
	path = usbredir
	url = ../usbredir
